{% extends 'book_app/_base.html' %}

{% block content %}
    {% if user.is_anonymous %}
        <h2>Your books</h2>
        <p>Want to see your own books? You need to login first</p>

        <form action="http://127.0.0.1:8000/auth/login">
            <button>log in</button>
        </form>
    {% else %}
    <h2>Your books</h2>

    <ul>
    {% for book in books %}
        {% if book.read %}

            <li>
                <p>{{ book.id }}</p>
                <p>{{ book.author }}</p>
                <p>{{ book.title }}</p>
                <p>
                    {% for tag in book.tags.all %}
                    {{ tag }},
                    {% endfor %}
                </p>
                <p>{{ book.rating }}</p>
                <p>{{ book.read }}</p>
            </li>

        {% endif %}
    {% endfor %}

    <hr />

    {% for book in books %}
        {% if not book.read %}

            <li>
                <p>{{ book.id }}</p>
                <p>{{ book.author }}</p>
                <p>{{ book.title }}</p>
                <p>
                    {% for tag in book.tags.all %}
                    {{ tag }},
                    {% endfor %}
                </p>
                <p>{{ book.rating }}</p>
                <p>{{ book.read }}</p>
            </li>

        {% endif %}
    {% endfor %}
    </ul>
    {% endif %}

    <form action="http://127.0.0.1:8000/books/add-book/">
        <button>Добавить</button>
    </form>

{% endblock %}